<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ekzeget.ru.ekzeget">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.BibleActivity"
            android:label="@string/title_activity_interpreting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MainCheesesActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.BookActivity"
            android:label="@string/content"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.BookInfoActivity"
            android:label="@string/content"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.BookContentActivity"
            android:label="@string/content"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>